@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #aed380;
  margin: 0;
  padding: 0;
}

svg {
  width:100%;
  margin: 0;
  padding: 0;
}

.licence .st0 {
  fill:#659f9c;
}

.licence .st1 {
  fill:none;
}

.licence .st2 {
  fill:#282561;
}

.licence .st3 {
  fill:#de563e;
}

.licence .st4 {
  fill:none;
  stroke:#4b7d79;
  stroke-width:1.3069;
  stroke-miterlimit:10;
}

.licence .st5 {
  opacity:0.75;
  fill:#6ab445;
  enable-background:new;
}

.licence .st6 {
  fill:#e7e7e8;
}

.licence .st7 {
  fill:#754d29;
}

.licence .st8 {
  fill:#ffffff;
  stroke:#282561;
  stroke-miterlimit:10;
}

.licence .st9 {
  fill:#4b7d79;
}

.licence .st10 {
  fill:#e72128;
}

.licence .st11 {
  fill:#f36c24;
}

.licence .st12 {
  fill:#ffffff;
}

.licence .st13 {
  fill:none;
  stroke:#282561;
  stroke-width:2;
  stroke-linecap:round;
  stroke-miterlimit:10;
}

.licence .st14 {
  fill:#d6a07c;
}

.licence .st15 {
  fill:#282560;
}

.licence .st16 {
  fill:#828182;
}

.licence .st17 {
  fill:none;
  stroke:#deb442;
  stroke-width:2.0544;
  stroke-miterlimit:10;
  stroke-dasharray:11.4528;
}

.licence .st18 {
  fill:#afd27f;
}

.st19 {
  fill:none;
  stroke:#282561;
  stroke-width:3;
  stroke-miterlimit:10;
}

.licence .st20 {
  fill:none;
  stroke:#282560;
  stroke-width:3;
  stroke-miterlimit:10;
}

.licence .st21 {
  fill:#231f20;
}

.licence .st22 {
  fill:#deb442;
}

.licence .st23 {
  opacity:0.58;
  fill:#a8ced7;
  enable-background:new ;
}

.licence .st24 {
  fill:none;
  stroke:#deb442;
  stroke-width:2.3339;
  stroke-miterlimit:10;
}

.licence .st25 {
  fill:none;
  stroke:#deb442;
  stroke-width:2.3339;
  stroke-miterlimit:10;
  stroke-dasharray:13.1549,13.1549;
}

.licence .st26 {
  fill:#59595c;
}

.licence .st27 {
  fill:#ddc659;
}

.licence .st28 {
  fill:none;
  stroke:#ffffff;
  stroke-miterlimit:10;
}

.licence .st29 {
  fill:#a8ced7;
}

.licence .st30 {
  opacity:0.78;
  fill:#ffffff;
  stroke:#016838;
  stroke-width:6.2178;
  stroke-miterlimit:10;
  enable-background:new ;
}

.licence .st31 {
  fill:none;
  stroke:#231f20;
  stroke-width:1.9365;
  stroke-miterlimit:10;
}

.licence .st32 {
  fill:none;
  stroke:#231f20;
  stroke-width:2;
  stroke-miterlimit:10;
}

.licence .st33 {
  fill:#29b673;
}

.licence .st34 {
  fill:#016838;
}

.commute .st0 {
  opacity:0.58;
  fill:#a8ced7;
  enable-background:new ;
}

.commute .st1 {
  fill:#828182;
}

.commute .st2 {
  fill:none;
}
.commute .st3 {
  fill:none;
  stroke:#dfb541;
  stroke-width:2.3339;
  stroke-miterlimit:10;
}

.commute .st4 {
  fill:none;
  stroke:#dfb541;
  stroke-width:2.3339;
  stroke-miterlimit:10;
  stroke-dasharray:13.1549,13.1549;
}

.commute .st5 {
  fill:#5a5a5d;
}

.commute .st6 {
  fill:#272660;
}

.commute .st7 {
  fill:#ddc659;
}

.commute .st8 {
  fill:none;
  stroke:#ffffff;
  stroke-miterlimit:10;
}

.commute .st9 {
  fill:#ffffff;
}

.commute .st10 {
  fill:#de573d;
}

.commute .st11 {
  fill:#659f9c;
}

.commute .st12 {
  fill:#a8ced7;
}

.earth .st0 {
  fill:#d7a17d;
}

.earth .st1 {
  fill:#de573d;
}

.earth .st2 {
  fill:#659f9c;
}

.earth .st3 {
  fill:none;
}

.earth .st4 {
  fill:#ffffff;
}

.earth .st5 {
  fill:none;
  stroke:#4d7e7a;
  stroke-width:1.3069;
  stroke-miterlimit:10;
}

.earth .st6 {
  opacity:0.75;
  fill:#6ab445;
  enable-background:new ;
}

.earth .st7 {
  fill:#e8e7e8;
}

.earth .st8 {
  fill:#754e2a;
}

.earth .st9 {
  fill:#ffffff;
  stroke:#272661;
  stroke-miterlimit:10;
}

.earth .st10 {
  fill:#4d7e7a;
}

.earth .st11 {
  fill:#e5252a;
}

.earth .st12 {
  fill:#f36d26;
}

.earth .st13 {
  fill:none;
  stroke:#272661;
  stroke-width:2;
  stroke-linecap:round;
  stroke-miterlimit:10;
}
