@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #aed380;
  margin: 0;
}


<style>
    .st0{opacity:0.58;
      fill:#A8CED7;}

    .st1{fill:#AFD27F;}

    .st2{opacity:0.78;
        fill:#FFFFFF;
        stroke:#016838;
        stroke-width:6.2178;
        stroke-miterlimit:10;}

    .st3{fill:none;
      stroke:#231F20;
      stroke-width:1.9365;
      stroke-miterlimit:10;}

    .st4{fill:none;
      stroke:#231F20;
      stroke-width:2;
      stroke-miterlimit:10;}

    .st5{fill:none;}

    .st6{fill:#29B673;}

    .st7{fill:#016838;}

    .st8{fill:#DE563E;}

    .st9{fill:#828182;}

    .st10{fill:#1C76BC;}

    .st11{fill:none;
      stroke:#DEB442;
      stroke-width:2.3339;
      stroke-miterlimit:10;}

    .st12{fill:none;
      stroke:#DEB442;
      stroke-width:2.3339;
      stroke-miterlimit:10;
      stroke-dasharray:13.1549,13.1549;}

    .st13{fill:#59595C;}

    .st14{fill:#282560;}

    .st15{fill:#DDC659;}

    .st16{fill:none;
    stroke:#FFFFFF;
    stroke-miterlimit:10;}

    .st17{fill:#FFFFFF;}

    .st18{fill:#659F9C;}

    .st19{fill:#A8CED7;}

    .st20{fill:none;
      stroke:#DEB442;
      stroke-width:2.0544;
      stroke-miterlimit:10;
      stroke-dasharray:11.4528;}

    .st21{fill:#5870AE;
      stroke:#282561;
      stroke-width:3;
      stroke-miterlimit:10;}

    .st22{fill:none;
      stroke:#282561;
      stroke-width:3;
      stroke-miterlimit:10;}

    .st23{fill:none;
      stroke:#282560;
      stroke-width:3;
      stroke-miterlimit:10;}

    .st24{fill:#231F20;}

    .st25{fill:#DEB442;}

    .st26{fill:none;
      stroke:#4B7D79;
      stroke-width:1.3069;
      stroke-miterlimit:10;}

    .st27{opacity:0.75;
      fill:#6AB445;}

    .st28{fill:#E7E7E8;}

    .st29{fill:#754D29;}

    .st30{fill:#FFFFFF;
      stroke:#282561;
      stroke-miterlimit:10;}

    .st31{fill:#4B7D79;}

    .st32{fill:#E72128;}

    .st33{fill:#F36C24;}

    .st34{fill:#FFFFFF;
      stroke:#282561;
      stroke-width:2;
      stroke-linecap:round;stroke-miterlimit:10;}

    .st35{fill:#282561;}

    .st36{opacity:0.36;
      fill:#DE563E;}

  </style>
